<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net configSource="log4net.config" />
	<connectionStrings>
		<add name="TourPlannerDb" connectionString="Host=127.0.0.1:5433;Database=tour_planner;Username=tour_server;Password=L9vCSjLsY07EAtwC;"/>
	</connectionStrings>
	<appSettings>
		<add key="DataAccessType" value="File"/>
	</appSettings>
</configuration>